<mat-card class="card-central">
  <div class="wrapper" align="center">

      <form (ngSubmit)="onSubmit()" [formGroup]="domoUpdateForm">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

          <mat-form-field>
            <mat-select placeholder="Seleccione el Domo" formControlName="idForm" [(ngModel)]="id" #message value="hola">
              <mat-option *ngFor="let domo of _domosArray" [value]="domo.domoId">
                {{ domo.domoId }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Seleccione el Estado" formControlName="estadoForm" [(ngModel)]="estado" #action value="chao">
              <mat-option *ngFor="let estado of _estados" [value]="estado.status">
                {{ estado.etiqueta }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="button-row"  style="margin-top: 15%; margin-bottom: 5%">
            <!-- <button type="submit" (click)="openSnackBar()" mat-raised-button class="btn btn-success" color="primary">Modificar</button> -->
            <button type="submit" (click)="openSnackBar(message.value, action.value)" mat-raised-button class="btn btn-success" color="primary">Modificar</button>
        </div>

      </form>
  </div>
</mat-card>