<mat-card class="card-central">

  <div>
      <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="domoId">
              <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
              <mat-cell *matCellDef="let domo"> {{domo.domoId}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ubicacionBrief">
              <mat-header-cell *matHeaderCellDef> UBICACION REF.</mat-header-cell>
              <mat-cell *matCellDef="let domo"> {{domo.ubicacionBrief}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> ESTADO </mat-header-cell>
              <mat-cell *matCellDef="let domo"> {{domo.status}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  </div>

</mat-card>
