<div class="wrapper" align="center">
  <mat-card class="card-central">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button routerLinkActive="active" routerLink="/inicio" (click)="toggle()">Inicio</button>
        <button mat-button routerLinkActive="active" routerLink="/consultar" (click)="toggle()">Consultar</button>
        <button mat-button routerLinkActive="active" routerLink="/graficar" (click)="toggle()">Graficar</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
  <mat-card class="card-central">
    <div class="wrapper" align="center" [@routerTransition]="bindingVar">
            <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>